.Guess-input {
  border: 15px solid rgb(255, 195, 0);
  margin: 30px;
  text-align: center;
  background-color: rgb(218, 247, 166);
  padding: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 10;
  
}
